<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <applicationInitialization doAppInitAfterRestart="true">
            <add initializationPage="/" />
        </applicationInitialization>

        <httpCompression>
            <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
            <dynamicTypes>
                <add mimeType="text/*" enabled="true" />
                <add mimeType="application/json" enabled="true" />
                <add mimeType="application/javascript" enabled="true" />
            </dynamicTypes>
            <staticTypes>
                <add mimeType="text/*" enabled="true" />
                <add mimeType="application/json" enabled="true" />
                <add mimeType="application/javascript" enabled="true" />
                <add mimeType="image/*" enabled="true" />
            </staticTypes>
        </httpCompression>

        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
        </staticContent>

        <fastCgi>
            <application fullPath="C:\Users\Administrador\AppData\Local\Programs\Python\Python313\python.exe" arguments="C:\Users\Administrador\AppData\Local\Programs\Python\Python313\Lib\site-packages\wfastcgi.py">
                <environmentVariables>
                    <environmentVariable name="WSGI_HANDLER" value="app.app" />
                    <environmentVariable name="PYTHONPATH" value="C:\inetpub\wwwroot\PortalTI" />
                </environmentVariables>
                <processRequestTimeout>00:00:00</processRequestTimeout>
                <activityTimeout>00:00:00</activityTimeout>
            </application>
        </fastCgi>
        <handlers accessPolicy="Read, Script">
            <add name="Flask-Python" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\Administrador\AppData\Local\Programs\Python\Python313\python.exe|C:\Users\Administrador\AppData\Local\Programs\Python\Python313\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <modules>
            <add name="RequestMonitorModule" />
        </modules>
        <caching>
            <profiles>
                <add extension=".cache.axd" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="00:00:30" />
            </profiles>
        </caching>
    </system.webServer>
    <location path="" overrideMode="Allow">
    </location>
    <location path="" overrideMode="Allow">

    <appSettings>
        <add key="PYTHONPATH" value="C:\inetpub\wwwroot\PortalTI" />
        <add key="WSGI_HANDLER" value="app.app" />
    </appSettings>
    </location>
</configuration>

