<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--  This file has been downloaded from bootdey.com @bootdey on twitter -->
    <!--  All snippets are MIT license http://bootdey.com/license -->
    <title>Chat bot Nevada</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/styleChatBot.css">
</head>
<body>
<main class="content">
    <div class="container p-0">

		<h1 class="h3 mb-3">Chat</h1>

		<div class="card">
			<div class="row g-0">
				<div class="col-12 col-lg-5 col-xl-3 border-right">

					<div class="px-4 d-none d-md-block">
						<div class="d-flex align-items-center">
							<div class="flex-grow-1">
								<input type="text" class="form-control my-3" placeholder="Search...">
							</div>
						</div>
					</div>

					<a href="#" class="list-group-item list-group-item-action border-0">
						
						<div class="d-flex align-items-start">
							<img src="/logos_png/logo-nevada.png" class="rounded-circle mr-1" alt="Reglamento Inevada" width="40" height="40">
							<div class="flex-grow-1 ml-3">
								Reglamento Inevada

							</div>
						</div>
					</a>
                    <a href="#" class="list-group-item list-group-item-action border-0">
						
						<div class="d-flex align-items-start">
							<img src="/logos_png/saludvida.JPG" class="rounded-circle mr-1" alt="Reglamento Inevada" width="40" height="40">
							<div class="flex-grow-1 ml-3">
								Reglamento Salud y Vida

							</div>
						</div>
					</a>
                    <a href="#" class="list-group-item list-group-item-action border-0">
						
						<div class="d-flex align-items-start">
							<img src="/logos_png/coval.jpg" class="rounded-circle mr-1" alt="Reglamento Inevada" width="40" height="40">
							<div class="flex-grow-1 ml-3">
								Reglamento Coval

							</div>
						</div>
					</a>
                    <a href="#" class="list-group-item list-group-item-action border-0">
						
						<div class="d-flex align-items-start">
							<img src="/logos_png/logo_centenario.png" class="rounded-circle mr-1" alt="Reglamento Inevada" width="40" height="40">
							<div class="flex-grow-1 ml-3">
								Reglamento IV Centenario

							</div>
						</div>
					</a>
					<hr class="d-block d-lg-none mt-1 mb-0">
				</div>
				<div class="col-12 col-lg-7 col-xl-9">
					<div class="py-2 px-4 border-bottom d-none d-lg-block">
						<div class="d-flex align-items-center py-1">
							<div class="position-relative">
								<img src="/logos_png/chatLogo.png" class="rounded-circle mr-1" alt="IA Nevadito" width="40" height="40">
							</div>
							<div class="flex-grow-1 pl-3">
								<strong>IA Nevadito</strong>
								<div class="text-muted small"><em>Escribiendo...</em></div>
							</div>
						</div>
					</div>

					<div class="position-relative">
						<div class="chat-messages p-4">
 <!-- Mensajes se añadirán dinámicamente aquí -->

						</div>
					</div>

					<div class="flex-grow-0 py-3 px-4 border-top">
						<div class="input-group">
							<input  id="userMessage" type="text" class="form-control" placeholder="Type your message">
							<button id="sendButton" class="btn btn-primary">Enviar</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
    integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
<script src="/static/scriptChatBot.js"></script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/4.3.0/marked.min.js"></script>



</body>
</html>